.navBar{
    display:flex;
    justify-content: space-between;
    background-color: black;
    align-items: center;
    margin-bottom: 2rem;
    width:100%;
    padding:1em;
    
}
.navTitle{
    font-size: 2rem;
    color:white;
    margin-left: 3em;
    
}
.Link1{
    color:white;
    text-decoration: none;
    font-size: 1.5rem;
    margin-right:3em;
    transition: 0.7s;
}
.Link1:hover{
    font-weight: bold;
    font-size: 1.6rem;
}